@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800&display=swap');

/* :root{
	--padding: 120px;
} */
*,
html {
	padding: 0;
	margin: 0;
	font-family: Montserrat;
	box-sizing: border-box;
}
body {
	background: #f7f7f7;
}

.top {
	position: relative;
	height: 120vh;
	background: url('./images/hero.png');
	background-size: cover;
	background-position: center;
	color: white;
	padding-bottom: 20vh;
	overflow: hidden;
}
.top::after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	background: rgba(0, 0, 0, 0.5);
	/* pointer-events: none; */
}
.top * {
	position: relative;
	z-index: 1;
}

button,
.btn {
	background: #23a6f0;
	border: none;
	color: white;
	padding: 10px 15px;
	display: flex;
	align-items: center;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.2s linear;
}

button:hover,
.btn:hover {
	background: #158ed4;
}
a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

nav {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 120px;
}
.logo {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.3px;
}
nav .logo {
	margin-right: 100px;
}

nav div {
	display: flex;
	align-items: center;
	height: 100%;
}
.nav-links > a,
.login {
	padding: 5px 8px;
	font-size: 14px;
}

nav .member {
	margin-left: 10px;
}
.member {
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.member > ion-icon {
	margin-left: 10px;
}

.mobile-nav {
	transition: all 0.2px linear;
	z-index: 2;
	position: absolute;
	right: 10px;
	background: #fff;
	color: black;
	display: flex;
	flex-direction: column;
	padding: 15px;
	transform: translateX(110%);
}
.mobile-nav.nav-opened {
	transform: translateX(0);
}
.mobile-nav .nav-links {
	display: flex;
	flex-direction: column;
}
.mobile-nav * {
	margin: 5px 0;
}

.burger {
	display: none;
	font-size: 35px;
	cursor: pointer;
}

.hero-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
}
.hero-section h1 {
	font-size: 45px;
	line-height: 60px;
}

.hero-section p {
	margin-top: 25px;
	line-height: 25px;
	font-size: 15px;
}

.hero-section .btns {
	display: flex;
	margin-top: 30px;
}

.hero-section .btns button {
	border-radius: 30px;
	padding: 15px 35px;
	margin: 0 10px;
}
.hero-section .btns button:last-child {
	background: transparent;
	border: 1px solid white;
}

.benefits-1 {
	height: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: 210px;
	gap: 30px;
	padding: 0 120px;
}

.benefit-1 {
	transition: all 0.1s linear;
	transform: translateY(-50%);
	width: 100%;
	height: 100%;
	background: white;
	padding: 30px;
}
.benefit-1:hover {
	background: #23a6f0;
	color: #fff;
}
.benefit-1 ion-icon {
	font-size: 50px;
	color: #23a6f0;
	margin-bottom: 5px;
}
.benefit-1:hover ion-icon {
	color: #fff;
}
.benefit-1 p {
	opacity: 0.6;
	margin-top: 8px;
	font-size: 14.5px;
	line-height: 19px;
}

.benefits-2 {
	background: #fff;
	padding: 70px 150px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 50px;
}
.benefit-2 {
	text-align: center;
	padding: 20px;
}
.benefit-2 * {
	margin: 5px 0;
}
.benefit-2 ion-icon {
	font-size: 60px;
	color: #23a6f0;
	margin-bottom: 10px;
}

.benefit-2 p {
	opacity: 0.6;
	margin-top: 8px;
	font-size: 14px;
	line-height: 20px;
}

.industry-section {
	text-align: center;
	padding: 100px 120px;
}
.industry-section h2 {
	margin-bottom: 30px;
	font-size: 30px;
}
.industry-section .subtitle {
	margin-bottom: 40px;
	line-height: 25px;
	color: grey;
}
.testimonials {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-columns: auto;
	gap: 10px;
}

.testimonial {
	background: white;
	border: 2px solid rgb(230, 230, 230);
	padding: 20px;
	display: flex;
	height: 350px;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.testimonial > img {
	width: 100px;
}
.testimonial p {
	color: grey;
	line-height: 23px;
	font-size: 15px;
}
.testimonial div {
	display: flex;
	align-items: center;
	gap: 5px;
}
.testimonial div ion-icon {
	font-size: 20px;
	color: #ef9546;
}

.companies-section {
	padding: 30px 120px 70px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 50px;
}
.companies-section img {
	height: 40px;
	/* margin: 0 20px; */
}
.subscribe-section {
	margin: 0 120px 30px;
	background: linear-gradient(90deg, #034688, #d21589);
	color: #fff;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.subscribe-section h3 {
	line-height: 28px;
	letter-spacing: 0.5px;
}

.subscribe-section .input-con {
	position: relative;
	background: #fff;
	width: 50%;
	height: 40px;
	border-radius: 5px;
	overflow: hidden;
}
.subscribe-section .input-con * {
	position: absolute;
}
.subscribe-section .input-con input {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	padding: 0 115px 0 10px;
	font-size: 15px;
}
input:focus {
	outline: none;
}
.subscribe-section .input-con button {
	right: 0;
	height: 100%;
	padding: 0 20px;
	border-radius: 0;
	cursor: pointer;
}

.pricing-section {
	padding: 50px 120px;
}

.pricing-section h2 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;
}

.pricing-section p.subtitle {
	margin-bottom: 40px;
	line-height: 27px;
	opacity: 0.6;
	text-align: center;
	font-size: 15px;
}

.pricing-levels {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: wrap;
}

.pricing-con {
	border: 1.5px solid #23a6f0;
	padding: 30px;
	border-radius: 10px;
	height: 470px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.pricing-con:nth-child(2) {
	background: #252b42;
	color: #ffffffd6;
	height: 500px;
}
.pricing-con h3 {
	font-size: 21px;
	letter-spacing: 0.8px;
	text-align: center;
}
.pricing-con p {
	text-align: center;
	margin: 18px 0;
	font-size: 14px;
	line-height: 20px;
	opacity: 0.7;
}
.price-con {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #23a6f0;
	margin: 25px auto;
}
.price-con .price {
	font-size: 30px;
	font-weight: 700;
	margin-right: 10px;
}
.price-con .currency {
	font-weight: 600;
}
.price-con .per {
	font-size: 14px;
	opacity: 0.6;
}
.price-con div {
	display: flex;
	flex-direction: column;
}

.pricing-con .features {
	padding: 5px 0;
	display: flex;
	align-items: center;
	font-size: 14px;
}
.pricing-con .features ion-icon {
	font-size: 23px;
	margin-right: 10px;
}

.pricing-con .features.included ion-icon {
	color: rgb(23, 181, 23);
}
.pricing-con .features.not-included ion-icon {
	color: rgb(179, 179, 179);
}

.pricing-con button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
}

.branches {
	padding: 80px 120px 350px;
	display: grid;
	gap: 40px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	background: #252b42;
	color: #fff;
}

.branches img {
	width: 70%;
	margin: auto;
}

.branches h3 {
	font-size: 35px;
	line-height: 45px;
	margin-bottom: 20px;
}

.branches p {
	line-height: 20px;
	font-size: 15px;
	opacity: 0.7;
}

.contact-section {
	position: relative;
	margin-top: -50px;
}
.appointment {
	width: 600px;
	display: grid;
	grid-template-columns: 180px 1fr;
	background: #fff;
	margin: auto;
	transform: translateY(-40%);
}
.appointment .image {
	background: url(./images/contact.png);
	background-size: cover;
}

.appointment .form {
	padding: 30px;
}
.appointment h3 {
	text-align: center;
	margin-bottom: 30px;
}

.form-item {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 5px;
	margin: 15px 0;
}
.form-item label {
	color: rgb(20, 20, 20);
	font-size: 14px;
	margin-bottom: 3px;
}
.form-item input,
.form-item select {
	transition: all 0.2s linear;
	background: rgb(245, 245, 245);
	border: 1.5px solid rgb(223, 223, 223);
	font-size: 15px;
	padding: 8px 10px;
	border-radius: 3px;
}
.form-item input:focus,
.form-item select:focus {
	background: #d7effd;
	border: 1.5px solid #23a6f0;
}

.form button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-below {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 120px 50px;
}
.contact-below h3 {
	font-size: 20px;
}
.contact-below p {
	font-size: 14px;
	opacity: 0.6;
	margin-top: 10px;
}

.contact-below button {
	padding: 10px 40px;
}

.links {
	background: #fff;
	padding: 40px 120px 30px;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.links .link-con {
	display: flex;
	flex-direction: column;
}

.links .link-con > * {
	font-size: 14px;
	height: 35px;
	margin: auto 0;
}
.links .link-con .header {
	font-weight: 700;
	letter-spacing: 0.2px;
}
.links .link-con .link {
	color: rgb(103, 103, 103);
	display: flex;
	align-items: center;
}
.links .link-con .link ion-icon {
	color: #23a6f0;
	font-size: 18px;
	margin-right: 5px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 120px;
}

footer span {
	color: rgb(108, 108, 108);
	font-size: 14px;
}

footer ion-icon {
	color: #23a6f0;
	font-size: 20px;
	margin: 0 10px;
}

@media screen and (max-width: 1000px) {
	nav,
	.benefits-1 {
		padding: 0 60px;
	}
	.benefits-2 {
		padding: 60px;
	}
	.industry-section {
		padding: 60px;
	}
	.companies-section {
		padding: 30px 60px 50px;
	}
	.subscribe-section {
		margin: 0 60px 30px;
	}
	.pricing-section {
		padding: 40px 60px;
	}
	.branches {
		padding: 60px 60px 350px;
	}
	.contact-below {
		padding: 0 60px 50px;
	}
	.links {
		padding: 40px 60px 30px;
	}
	footer {
		padding: 30px 60px;
	}
}

@media screen and (max-width: 890px) {
	.burger {
		display: block;
	}
	nav .nav-link,
	.nav-right {
		display: none;
	}

	.benefit-1 ion-icon,
	.benefit-2 ion-icon {
		font-size: 30px;
	}
	.benefit-1 h3 {
		font-size: 17px;
	}
}

@media screen and (max-width: 700px) {
	.subscribe-section {
		flex-direction: column;
		text-align: center;
	}
	.subscribe-section .input-con {
		width: 90%;
		margin-top: 20px;
	}
	.contact-below {
		flex-direction: column;
		text-align: center;
	}
	.contact-below button {
		margin-top: 20px;
	}
}
@media screen and (max-width: 630px) {
	.appointment {
		width: 100%;
	}
}
