@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

*,
html {
	padding: 0;
	margin: 0;
	font-family: Montserrat;
	box-sizing: border-box;
}
body {
	background: #f7f7f7;
}

.top {
	position: relative;
	height: 120vh;
	background: url('./images/hero.png');
	background-size: cover;
	color: white;
	z-index: -1;
	padding-bottom: 20vh;
}
.top::after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	background: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}
.top > * {
	position: relative;
	z-index: 1;
}

button,
.btn {
	background: #23a6f0;
	border: none;
	color: white;
	padding: 10px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	/* cursor: pointer; */
}
a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

nav {
	height: 80px;
	display: flex;
	justify-content: space-between;
	padding: 0 120px;
}

nav .logo {
	font-size: 18px;
	/* font-weight: 600; */
	letter-spacing: 0.3px;
	margin-right: 100px;
}

nav div {
	display: flex;
	align-items: center;
	height: 100%;
}
.nav-links > a,
.login {
	padding: 5px 8px;
	font-size: 14px;
}

.member {
	font-size: 14px;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.member > i {
	margin-left: 10px;
}

.hero-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
}
.hero-section h1 {
	font-size: 45px;
	line-height: 60px;
}

.hero-section p {
	margin-top: 25px;
	line-height: 25px;
	font-size: 15px;
}

.hero-section .btns {
	display: flex;
	margin-top: 30px;
}

.hero-section .btns button {
	border-radius: 30px;
	padding: 15px 35px;
	margin: 0 10px;
}
.hero-section .btns button:last-child {
	background: transparent;
	border: 1px solid white;
}

.benefits-1 {
	height: 200px;
	/* width: 100%; */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: 200px;
	gap: 30px;
	padding: 0 120px;
}

.benefit-1 {
	transition: all 0.1s linear;
	transform: translateY(-50%);
	width: 100%;
	height: 100%;
	background: white;
	padding: 30px;
}
.benefit-1:hover {
	background: #23a6f0;
	color: #fff;
}
.benefit-1 i {
	font-size: 55px;
	color: #23a6f0;
}
.benefit-1:hover i {
	color: #fff;
}
.benefit-1 p {
	opacity: 0.6;
	margin-top: 8px;
	font-size: 15px;
}

.benefits-2 {
	background: #fff;
	padding: 70px 150px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 50px;
}
.benefit-2 {
	text-align: center;
	padding: 20px;
}
.benefit-2 * {
	margin: 5px 0;
}
.benefit-2 i {
	font-size: 65px;
	color: #23a6f0;
}

.benefit-2 p {
	opacity: 0.6;
	margin-top: 8px;
	font-size: 14px;
	line-height: 20px;
}

.industry-section {
	text-align: center;
	padding: 100px 120px;
}
.industry-section h2 {
	margin-bottom: 30px;
	font-size: 30px;
}
.industry-section .subtitle {
	margin-bottom: 40px;
	line-height: 25px;
	color: grey;
}
.testimonials {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-columns: auto;
	gap: 10px;
}

.testimonial {
	background: white;
	border: 2px solid rgb(230, 230, 230);
	padding: 20px;
	display: flex;
	height: 350px;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.testimonial > img {
	width: 100px;
}
.testimonial p {
	color: grey;
	line-height: 23px;
	font-size: 15px;
}

.testimonial div i {
	font-size: 21px;
	color: #ef9546;
}

.companies-section {
	padding: 30px 120px 70px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 50px;
}
.companies-section img {
	height: 40px;
	/* margin: 0 20px; */
}
.subscribe-section {
	margin: 0 120px 30px;
	background: linear-gradient(90deg, #034688, #d21589);
	color: #fff;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.subscribe-section h3 {
	line-height: 28px;
	letter-spacing: 0.5px;
}

.subscribe-section .input-con {
	position: relative;
	background: #fff;
	width: 50%;
	height: 40px;
	border-radius: 5px;
	overflow: hidden;
}
.subscribe-section .input-con * {
	position: absolute;
}
.subscribe-section .input-con input {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	padding: 0 115px 0 10px;
	font-size: 15px;
}
input:focus {
	outline: none;
}
.subscribe-section .input-con button {
	right: 0;
	height: 100%;
	padding: 0 20px;
	border-radius: 0;
	cursor: pointer;
}

.pricing-section {
	padding: 50px 120px;
}

.pricing-section h2 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;
}

.pricing-section p.subtitle {
	margin-bottom: 40px;
	line-height: 27px;
	opacity: 0.6;
	text-align: center;
	font-size: 15px;
}

.pricing-levels {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.pricing-con {
	border: 1.5px solid #23a6f0;
	padding: 30px;
	border-radius: 10px;
}

.pricing-con:nth-child(2) {
	background: #252b42;
	color: #ffffffd6;
}
.pricing-con h3 {
	font-size: 21px;
	letter-spacing: 0.8px;
	text-align: center;
}
.pricing-con p {
	text-align: center;
	margin: 18px 0;
	font-size: 14px;
	line-height: 20px;
	opacity: 0.7;
}
.price-con {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #23a6f0;
	margin: 25px auto;
}
.price-con .price {
	font-size: 30px;
	font-weight: 700;
	margin-right: 10px;
}
.price-con .currency {
	font-weight: 600;
}
.price-con .per {
	font-size: 14px;
	opacity: 0.6;
}
.price-con div {
	display: flex;
	flex-direction: column;
}

.pricing-con .features {
	padding: 5px 0;
	display: flex;
	align-items: center;
	font-size: 15px;
}
.pricing-con .features i {
	font-size: 23px;
	margin-right: 10px;
}

.pricing-con .features.included i {
	color: rgb(23, 181, 23);
}
.pricing-con .features.not-included i {
	color: rgb(179, 179, 179);
}

.pricing-con button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
}
